.*
*.html
*.bat
*.sh
*.json
*.lib
*.exe
*.dll
*.obj
*.lst
*.a
!.gendoc
!.github
*-test-*
testcases/*/*
!testcases/*/dub.json
!testcases/*/source
!testcases/*/src
!testcases/*/.no_build
!testcases/*/.no_test
!testcases/*/.no_run
!testcases/*/.build_opts
!testcases/*/.test_opts
!testcases/*/.run_opts
docs
cov
